@model  Job_Finder.Web.Areas.Company.InputModel.CreateCompanyPositionInputModel

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="exampleModalLabel">Create new position </h4>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("Create", "Position", FormMethod.Post, new { role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        @Html.LabelFor(m => m.Title, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.Title, new { placeholder = "Title...", @class = "form-control", id = "post-title" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Description, new { @class = "control-label" })
                        @Html.TextAreaFor(m => m.Description, new { placeholder = "Description...", @class = "form-control", id = "post-description", rows = "4" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Salary, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.Salary, new { placeholder = "Title...", @class = "form-control", id = "post-description" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Tags, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.Tags, new { placeholder = "Tags...", @class = "form-control token-example-field", id = "post-tags" })
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Add position</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>



